

.form-label {
    margin-bottom: .5rem;
    color: #305423;
}


/* Container to center the image */
.zoom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f9f9f9; /* Optional background */
  }
  
  /* Image styling */
  .zoom-image {
    /* width: 300px; Adjust size as needed */
    height: auto;
    animation: zoom-in-out 1.5s infinite ease-in-out;
  }
  
  /* Animation definition */
  @keyframes zoom-in-out {
    0% {
      transform: scale(1); /* Original size */
    }
    50% {
      transform: scale(1.2); /* Zoomed in */
    }
    100% {
      transform: scale(1); /* Back to original size */
    }
  }
  